/*-- scss:defaults --*/
$body-bg: #181b21;
$body-color: #dce1e9;
$link-color: #9ab9f7;
$sidebar-bg: #14171c;
$sidebar-fg: #b3bccb;
$sidebar-hl: #b3ccff;
$border-color: #343b48;
$code-color: #b9cbed;
$code-bg: #242b36;
/*-- scss:rules --*/
body { --book-muted: #a0aaba; --book-surface: #21262f; --book-accent: #9ab9f7; }
